html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
}
.background {
  background-image: url(/img/background-foods-v4.png);
  background-color: #2e2d4c;
  background-attachment: fixed;
}
.container {
  background-color: white;
  width: 51%;
  margin: 0rem auto 12rem auto;
  color: #4d3c64;
  padding: 3rem 4rem 4rem 4rem;
  line-height: 3rem;
  border-radius: 0.5rem;
}
.header {
  width: 100%;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-bottom: 7rem;
  padding-top: 3rem;
}
.logo {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.logo img {
  width: 11rem;
}
h1 {
  font-size: 3.2rem;
  margin: 1rem;
}
h2 {
  font-size: 1.6rem;
  opacity: 0.75;
}
.navigation {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0%;
  left: 30rem;
  z-index: 2;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #fff;
}
.navigation ul {
  display: table;
  width: 25%;
  margin: 0;
}
.navigation ul li {
  display: table-cell;
  width: 25%;
  padding-right: 1.5rem;
}
.navigation li a:link,
.navigation li a:visited {
  color: #c0bcc9;
  text-decoration: none;
}
.navigation li a:hover {
  color: gray;
  text-decoration: underline;
}
.navigation li a:active {
  color: #100d66;
  text-decoration: underline;
}
.perfil img {
  width: 9rem;
  float: left;
  margin-right: 1rem;
}
.fonte-media {
  font-size: 1.7rem;
}
.titulo {
  font-size: 1.9rem;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
.titulo-fonte {
  font-family: "Exo 2", sans-serif;
}
.habilidades label {
  display: inline-block;
  width: 20rem;
}
.habilidades progress {
  accent-color: #2e2d4c;
}
.fotos {
  width: 100%;
  text-align: center;
  column-count: 2;
}
.fotos img {
  width: 25rem;
  height: 20rem;
  border-radius: 8px;
  filter: grayscale(0.4);
}
.fotos img:hover {
  filter: none;
}
.btn-inicio {
  width: auto;
  height: auto;
  position: fixed;
  padding: 0.6rem 1.1rem;
  color: white;
  background-color: white;
  border-radius: 50%;
  right: 2rem;
  bottom: 2rem;
  opacity: 0.3;
  font-size: 3rem;
}
.btn-inicio:hover {
  opacity: 1;

  background-color: linear-gradient();
}
.btn-inicio a:active {
  color: #100d66;
}
.footer {
  position: relative;
  padding: 8rem;
  background-color: #1b1a2f;
  color: #fff;
  text-align: center;
}
.logotipo {
  color: #2e2d4c;
  position: absolute;
  right: 50%;
  z-index: 1;
  font-size: 1.8rem;
  transform: translateX(50%);
  padding-top: 13px;
}
.logomarca.fundo {
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  float: right;
  margin-right: 50%;
  margin-top: -7.6rem;
  transform: translate(50%) rotate(45deg);
}
.ponto {
  list-style: disc;
}
li i {
  margin-right: 1rem;
}
.links {
  margin: 1rem 0rem;
  text-align: center;
  letter-spacing: 0.5rem;
}
.links i {
  color: #593b8b;
  font-size: 22px;
}
.links i:hover {
  color: #fff;
}
.xp {
  margin-left: 2rem;
}
a {
  text-decoration: none;
}
h4 a {
  color: white;
}
h4 a:hover {
  color: #593b8b;
}
h4 a:active {
  color: #100d66;
  text-decoration: underline;
}

/* Mobile */

@media (max-width: 720px) {
  body {
    position: absolute;
  }
  .logo img {
    width: 8rem;
  }
  h1 {
    font-size: 2rem;
    margin: 1rem;
  }
  h2 {
    font-size: 1.2rem;
    opacity: 0.75;
  }
  .container {
    width: 78%;
    padding: 2rem 2rem 4rem 2rem;
  }
  .fotos {
    column-count: 1;
  }
  .fotos img {
    width: 100%;
    height: 16rem;
  }
  .navigation {
    margin-bottom: 1rem;
  }
  .navigation ul {
    width: 25%;
  }
  .navigation ul li {
    width: 25%;
    padding-right: 1rem;
    font-size: 14px;
    line-height: 2.5rem;
  }

  .perfil img {
    width: 9rem;
    float: left;
    margin-right: 1rem;
  }
  .btn-inicio {
    right: 0.5rem;
  }
  .habilidades label {
    display: inline-block;
    width: 15rem;
  }
  .habilidades progress {
    width: 15rem;
  }
  .navigation {
    position: static;
  }
  .fonte-media {
    font-size: 16px;
    line-height: 2;
  }
  .alinhado {
    text-align: justify;
  }
  .footer {
    padding: 6rem 0 6rem 0;
  }
}
